@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #dfdfdf;
}

h1 {
  color: rgb(70, 70, 70);
  font-family: 'Rammetto One', sans-serif;
  text-shadow: 0px 0px 20px #d6befe;
  text-align: center;
}

.met-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50vw;

}

@media (max-width: 600px) {
  .met-container {
    width: 100vw;
  }
}

.bpm-text {
  color: #8944ff;
}

.bpm-slider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bpm-slider input {
  filter: hue-rotate(40deg); 
  width: 75%;
}

.bpm-slider input:hover {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 2px solid #8944ff;
  border-radius: 1rem;
  color: #8944ff;
  font-weight: bold;
  padding: .5rem 1rem;
}

.button:hover {
  background-color: #e1cfff;
  cursor: pointer;
}
