*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.met-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;

}

.bpm-text {
  color: #8944ff;
}

.bpm-slider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bpm-slider input {
  filter: hue-rotate(40deg); 
  width: 75%;
}

.bpm-slider input:hover {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 2px solid #8944ff;
  border-radius: 1rem;
  color: #8944ff;
  font-weight: bold;
  padding: .5rem 1rem;
}

.button:hover {
  background-color: #e1cfff;
  cursor: pointer;
}
